/* NOTE: set posti
/* so it seems like the best practice is to set the color is the components CSS and the mess with the div for each in the App*/
.App{
  position: relative;
  background: cornsilk;
/*   background-image: url('./components/homepage/background/blurb.jpg');
  background-repeat: no-repeat;
  background-size: 1920px; */
  bottom:20px;
  height:1000px;
  width: 100%;
}
.App > .nav{
  position: absolute;
  bottom: 92%;
  
  width: 100%;
 
}


.App > .swipe{
  
  position: absolute;
  background: black;
  text-align: center;
  top: 50%;
  width: 100%;
}








